@import '../../App.scss';
.aside {
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  width: 110px;
  height: 100%;
  position: fixed;
  top: 0;
  padding: 0 34px;
  padding-top: 110px;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;
  font-size: 0.9vw;
  font-family: $font-family;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
}
.aside:hover {
  width: 220px;
}
.aside:hover > .aside_link > div > .link_title {
  opacity: 1;
}
.aside .aside_link:hover {
  filter: none;
  cursor: pointer;
}
.aside_link:hover > .link_container > .link_title {
  color: $orange-color;
}
.link_title:hover {
  cursor: pointer;
}
.aside_link {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px 0;
  position: relative;
  filter: grayscale(1);
  img {
    width: 40px;
    height: 40px;
  }
  .link_title {
    position: absolute;
    transition: 0.1s ease;
    color: rgba(0, 0, 0, 0.64);
    font-weight: 600;
    left: calc(40px + 24px);
    opacity: 0;
  }
}
.link_container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1550px) {
  .aside {
    width: 68px;
    padding: 0 16px;
    padding-top: 80px;
  }
  .aside:hover {
    width: 160px;
  }
}
@media screen and (max-width: 1500px) {
  .aside_link {
    img {
      width: 32px;
      height: 32px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .aside {
    width: 100%;
    padding: 0 16px;
    height: 68px;
    margin-top: 0;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    top: auto;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .aside:hover {
    width: 100%;
  }
  .aside_link {
    width: 100px;
    justify-content: center;
    .link_container {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .link_title {
      margin-top: 3px;
      position: relative;
      left: 0;
      font-size: 14px;
      opacity: 1;
      visibility: visible;
    }
  }
}

@media screen and (max-width: 500px) {
  .link_title {
    font-size: 10px !important;
  }
}
