@import '../../App.scss';
$wrapper-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.12);
.header {
  position: relative;
  z-index: 25;
}
.nav {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0 48px 0 34px;
  font-family: $font-family;
  font-size: 0.9vw;
}
.ninja_logo {
  background: url('../../assets/images/icons/logo.svg') center no-repeat;
  background-size: contain;
  width: 218px;
  height: 48px;
}
.links_list {
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-left: 56px;
  height: 100%;
  .link {
    list-style: none;
    margin-top: 1px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    position: relative;
    font-weight: 500;
    color: $main-color;
    cursor: pointer;
    transition: color 0.2s ease;
  }
}
.link_link {
  display: flex;
  align-items: center;
  color: $main-color;
  text-decoration: none;
  svg {
    font-size: 18px;
  }
}

.link_link.active,
.link_link:hover {
  color: $orange-color;
  transition: 0.2s;
}

.link::after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: $orange-color;
  transition: 0.2s ease;
}
.link:hover::after {
  width: 100%;
}
%align-flex {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 12px;
  position: relative;
  font-weight: 600;
}
.account {
  @extend %align-flex;
  cursor: text;
}
.account:hover > .account_wrapper {
  visibility: visible;
  opacity: 1;
}

//wrappers

.small {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.small:nth-of-type(1) {
  padding-left: 72px;
}
.small:nth-of-type(2) {
  padding-left: 72px;
  line-height: 1.43;
}

.notes {
  border-radius: 4px;
  background-color: rgba(249, 187, 0, 0.12);
  border: 1px solid #f9bb00;
  padding: 12px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.65;
}
.logbtn {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $orange-color;
  color: $orange-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  margin-top: 12px;
}
.logbtn:hover {
  background: $orange-color;
  color: #fff;
}
.log_text {
  margin-top: 16px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

//icons

.icon {
  margin-right: 12px;
}

.title {
  color: $main-color;
}
.cart {
  display: none;
  position: relative;
  cursor: pointer;
  margin-left: 12px;
}
.cart_num {
  position: absolute;
  font-size: 8px;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  line-height: 1;
  padding: 6px;
  min-width: 24px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #fff;
  background-color: #ee6344;
  color: #fff;
}

@media screen and (max-width: 1500px) {
  .nav {
    height: 68px;
    padding: 0 16px;
  }
  .ninja_logo {
    width: 168px;
    height: 37px;
  }
  .links_list {
    margin-left: 24px;
  }
  .link {
    font-size: 14px;
  }
  .small:nth-of-type(1) {
    visibility: hidden;
  }
}
@media screen and (max-width: 1400px) {
  .title {
    display: none;
  }
  .link_link_text {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .icon,
  .link_link svg,
  .link_link img {
    filter: grayscale(1);
    opacity: 0.5;
  }
  .nav {
    height: 56px;
    padding: 0 16px;
    padding-right: 48px;
  }
  .ninja_logo {
    width: 160px;
    height: 35px;
  }
  .register_button {
    font-size: 14px;
    display: none;
  }
  .cart {
    display: block;
    margin-right: 16px;
  }
  // .links_list {
  //   display: none;
  // }
}
@media screen and (max-width: 650px) {
  .ninja_logo {
    width: 36px;
    height: 41px;
    background: url('../../assets/images/icons/mobile-logo.svg') center
      no-repeat;
    background-size: contain;
  }
}
